# dependencies
node_modules

# output
out
dist
herodotus

# code coverage
coverage
*.lcov

# logs
logs
*.log

# dotenv
.env
.env.local
.env.*.local

# caches
.cache
*.tsbuildinfo

# Deno
deno.lock

# IntelliJ
.idea

# macOS
.DS_Store
.herodotus.toml
